body{
    background-image: url('../Images/port-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.body-bg{
    background-color: rgba(0, 0, 0, 0.75);
    padding-top: 1.5rem;
}

.web-dev-hobbies-bg{
    background-color: rgba(50, 131, 210, .25);
}

.card {
    margin:auto;
}

.card-opacity{
    background-color: rgba(50, 131, 210, .25);
    color: white
}

.card-ul-opacity li{
    background-color: rgba(50, 131, 210, .0);
    color: white 
}

.card-footer-opacity{
    background-color: rgba(50, 131, 210, 1);
    color: white
}

.icons img {
    margin-left: 1rem;
    margin-right: 1rem;
}

h4, [class~='display-5']{
    color: white;
}