:root {
    --bg-main-color: rgb(50, 131, 210);
    --bg-main-color-zero-opacity: rgba(50, 131, 210, 0);
    --bg-main-color-quarter-opacity: rgba(50, 131, 210, .25);
    --bg-main-color-half-opacity: rgba(50, 131, 210, .50);
    --bg-underconstruction-text-color: yellow;
}

body{
    background-image: url('../Images/Backgrounds/port-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.body-bg{
    background-color: rgba(0, 0, 0, 0.75);
    padding-top: 1.5rem;
}

/* main-heading */

.under-construction{
    background-color: rgba(255, 193, 7, 0.25);
    color: white;
}

.under-construction-text-color {
    color: var(--bg-underconstruction-text-color)
}

.construction-ul-opacity {
    background-color: var(--bg-main-color-half-opacity);
}

.construction-ul-opacity li>p:before {
    content: " ";
    width:10px;
    height:10px;
    display:inline-block;
    margin-right: .5rem;
    background-color: yellow;
}

/* navbar */

.navbar-menu {
    background-color: var(--bg-main-color-quarter-opacity);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    color:white;
}

nav li:hover {
    background-color: var(--bg-main-color);
}

/* about-me */

.contact-icon {
    position:absolute;
    transform: translateX(-2rem)
}

.email-icon {
    height: 1.5rem;
    width: 2rem;
    color: white;
    display: inline-block
}

#linkedin-link::before {
    position: absolute;
   content: url(../Images/About-Me/linkedin-logo.png);
    transform: scale(1.25) translate(-1.5rem, .25rem )
}

.web-dev-hobbies-bg{
    background-color: var(--bg-main-color-quarter-opacity);
}

.card {
    margin:auto;
}

.card-opacity{
    background-color: var(--bg-main-color-quarter-opacity);
    color: white
}

.card-ul-opacity li{
    background-color: var(--bg-main-color-zero-opacity);
    color: white 
}

.card-footer-opacity{
    background-color: var(--bg-main-color);
    color: white
}

.icons img {
    margin-left: 1rem;
    margin-right: 1rem;
}

h4, [class~='display-5']{
    color: white;
}